# SPDX-FileCopyrightText: Copyright (c) 2026 Rafael Dias Menezes <rdmeneze@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config SHIELD_DFROBOT_SIM7000
	def_bool $(shields_list_contains,dfrobot_sim7000)
